@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Open+Sans:wght@300&family=Poiret+One&display=swap');
* {
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    
}
body{
   
}

::selection{
    background: #AEF8FF;
    color:#0197A6;
}
.hero {
    overflow-y: hidden !important;
    width: 100vw;
    
}

#heroimage {
   max-width: 75%;
   
}

#herotittle {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
 
}
#herotittle h1{
   font-size: 3em;
   font-family: "Dm Serif Display";
   line-height: 60px;
   
}
#heroimage-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.hero .btn{
    align-self: flex-start;
}
.hero span{
    color: #0197A6;
    font-size: 2.3em;
}
#hero-row{
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-flow: column-reverse;
}
#info{
    text-align: center;
    margin-top: 60px !important;
    color: #7D7D7D;
}

.info-card h1{
    color: #0197A6;
    font-size: 2.5em;
}

.splide__slide img{
    width: 100%;
}
.splide{
   width: 80%; 
   margin: auto;
}
#whatdo{
    
    display: flex !important;
    justify-content: center;
    align-items: center;
}
#whatdo h1{
 position: relative;
 
}

.tittext::after{
    content: "";
    display: block;
    border: 1px solid black;
    position: absolute;
    width : 100px;
    height: 5px;
    background-color: black;
    border-radius: 10px;
    left: 50px;
}
#aim{
    display: none;
}
#whatdo #a::before{
   content: "1";
   position: absolute;
   font-size: 4rem;
   z-index: -1000;
   display: block;
   color: #ABABAB;
   font-weight: 200px;
   left: 46vw;
}
#b::before{
    content: "2";
    position: absolute;
    font-size: 4rem;
    z-index: -1000;
    display: block;
    color: #ABABAB;
    font-weight: 200px;
}
#c::before{
    content: "3";
    position: absolute;
    font-size: 4rem;
    z-index: -1000;
    display: block;
    color: #ABABAB;
    font-weight: 200px;
}
#description img{
    width: 100%;
}
#description{
    font-size: 13px;
}
#desimg{
    display: none;
}
.destext{
    display: flex;
    justify-content: center;
    align-items: center;
}.footer .row .col-sm{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
@media (orientation: landscape) {
    #hero-row {
        flex-direction: row;
    }
    .splide{
        overflow: hidden;
        height: 70vh;
        width: 70vw;
        margin-top: 40px;
    }
    #aim{
        display: block;
    }
   #aim img{
       width: 100%;
   }
   #desimg{
    display: flex;
   }
}